.card-content {
  /* opacity: 0; */
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.card-content:hover h5 {
    opacity: 0;
  animation: fadein 3s;
}

.card-image:hover {
}

@keyframes fadein {
  from {
    opacity: .5;
    filter: grayscale(100%)
  }
  to {
    opacity: 1;
    filter: grayscale(0%)
  }
}
@keyframes fadeout {
  from {
    opacity: .5;
    filter: grayscale(0%)
  }
  to {
    opacity: 1;
    filter: grayscale(100%)
  }
}

.project {
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  height: 400px;
  max-width: 600px; /* Set the maximum height for the project div */
  animation: fadeout 1s;
}
.project:hover{
  animation: fadein 1s;
  filter: grayscale(0%);
  transform: scale(1.01);
}